<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Test / <%= title %></h1>
        <h3><a href="/">Home</a></h3>
        <div>
            <form action="/check" method="POST">
                <input type="text" name="sentence" placeholder="word" required>
                <input type="submit" value="Check pangram">
            </form>
            <div>
                <span>
                    <% if(locals.sol){ %>
                        <%= locals.sol %>
                    <% } %>
                </span>
                <br />
                <small>
                    <% if(locals.miss){ %>
                        <%= locals.miss %>
                    <% } %>
                    </small>
            </div>
        </div>
        <br>
        <br>
        <div>
            <form action="/showStar" method="POST">
                <input type="text" name="range" placeholder="range" required>
                <input type="text" name="list" placeholder="list" required>
                <input type="submit" value="submit">
            </form>
            <div style="width: 500px; height: 500px;">
                <span>
                    <% if(locals.pattern){ %>
                        <PRE><%= locals.pattern %></PRE>
                    <% } %>
                </span>
            </div>
        </div>
    </body>
</html>